  <%= form_with(model:[:management,item], local: true) do |form| %>
    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
  
        <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group">
      <label>商品名：</label>
      <%= form.text_field :name,class:"form-control input-form" %>
    </div>
  
    <div class="form-group">
      <label>値段(税抜)：</label>
      <%= form.number_field :price,class:"form-control input-form" %>
    </div>
  
    <div class="form-group">
      <label>在庫：</label>
      <%= form.number_field :stock,class:"form-control input-form" %>
    </div>
  
    <div class="form-group">
      <label>概要：</label>
      <%= form.text_area :description,class:"form-control  input-form memo" %>
    </div>
    
    <%= form.file_field :image,class:"management-image" %><br> 
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
