<!--運営側商品詳細-->
<div class="container">
    <div class="btn-margin">

    <div class="page-top">
      <%= link_to '一覧', management_items_path,class:"btn btn-secondary" %>      
    </div>

  </div>
  <div class="content">
    <div class="show-image">
      <%= image_tag @item.image if @item.image.attached? %><br>    
    </div>
    <div class="description">
      <h1><%= @item.name%><%= link_to '【編集】', edit_management_item_path(@item),class:"link-edit"%></h1>
      <p>値段:<span class="item-price">￥<%= @item.price.to_s(:delimited,delimiter:',') %></span>円</p>
      <p>在庫:<span class="item-stock"><%= @item.stock %></span></p>
      <p>概要:<span class="item-description"><%= @item.description %></span></p>
    </div>  
  </div>
</div>
