<div class="container text-center">
  <h2 style="font-size:2.5rem">Resend confirmation instructions</h2>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.email_field :email,:placeholder => "e-mail", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) ,class:"user-form" %>
    </div>
  
    <div class="actions mt-3">
      <%= f.submit "Resend confirmation",class:"btn btn-secondary user-form" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
