<div class="container">
    <h1>会員一覧</h1>
    <div class="card-body">検索

    <!--  <div class="form-row mb-3 mt-2">-->
    <!--    <div class="col">-->

    <!--    </div>-->
    <!--    <div class="col">-->

    <!--    </div>-->

    <!--    <div class="col">-->

    <!--    </div>-->
    <!--    <div class="col button-info">-->

    <!--    </div>-->
    <!--  </div>-->

    
    <%= search_form_for @q,url: search_management_users_path do |f| %>
        <%= f.label :name_cont,'名前'%>
        <%= f.search_field :name_cont %>
        <%= f.submit '検索'%>
    <% end %>
    </div>


    <table class="table-striped">
        <tr>
            <th>メールアドレス</th>
            <th>名前</th>
            <th>生年月日</th>
            <th></th>
        </tr>
    
        <% @users.each do |user| %>
        <tr>
            <td><%= user.email%></td>
            <td><%= user.name %></td>
            <td><%= user.birthday.strftime("%Y/%m/%d") %></td>
            <td>
                <%= link_to "詳細",management_user_path(user),class:"btn btn-info"%>
                <%= link_to "削除",management_user_path(user),method: "delete",data: {confirm:'削除しますか？'},class:"btn btn-danger"%>
            </td>
        </tr>
        <% end %>
    </table>
</div>