<div class="container">
    <div class="page-top mb-4">
        <h1 class="page-title">会員一覧</h1>        
    </div>
    <h2>【検索条件入力欄】</h2>
    <div class="card-body">

        <%= search_form_for @q,url: management_users_path do |f| %>
            <p>メールアドレス：<%= f.search_field :email_cont,placeholder: "emal",class:"card-input" %></p>
            <p>名前：<%= f.search_field :name_cont,placeholder: "name",class:"card-input" %></p>
            <p>生年月日：<%= f.search_field :birthday_cont,placeholder: "birthday",class:"card-input" %></p>
            <div class="page-top">
                <%= button_tag sanitize('<i class="fas fa-search"></i>検索'),:type => "submit",:class => "btn btn-primary"%>
            </div>
        <% end %>
    </div>
    <table class="table-striped">
        <tr>
            <th>メールアドレス</th>
            <th>名前</th>
            <th>生年月日</th>
            <th>ユーザ詳細 　ポイント付与</th>
        </tr>
    
        <% @users.each do |user| %>
        <tr>
            <td><%= user.email%></td>
            <td><%= user.name %></td>
            <td><%= user.birthday.strftime("%Y/%m/%d") %></td>
            <td>
                <div class="user_info">
                    <%= link_to "【詳細】",management_user_path(user),class:"link-info"%>
                    <%= form_with(url:points_management_user_url(user.id),local: true) do |f| %>
                        <%= f.number_field:point,placeholder:'ポイント',class:"user_point" %>
                        <%= f.submit "付与",class:"btn btn-success"%>
                    <% end %>
                </div>
            </td>
        </tr>
        <% end %>
    </table>
   <%= paginate @users %> 
</div>