<div class="container">
    <h1>会員詳細</h1>
    
    <p>メールアドレス：<%= @user.email %></p>
    <p>名前：<%= @user.name %></p>
    <p>所持ポイント：<%= @user.point %></p>
    <p>生年月日：<%= @user.birthday.strftime("%Y/%m/%d") %></p>
    <p>住所：<%= @user.address %></p>
    <p>性別：<%= @user.sex %></p>
    
    <%= link_to "戻る",management_users_path,class:"btn btn-secondary" %>    
</div>

