<div class="title">
<h1>マイページ</h1>    
</div>

<!--<p>Find me in app/views/gym_app/index.html.erb</p>-->


<div class="container">
    <%= link_to '商品一覧',items_path,class:"btn btn-success" %>
    <%= link_to 'レッスン一覧・検索',lessons_path,class:"btn btn-primary" %>
    <%= link_to '予約済みレッスン',reservations_path,class:"btn btn-danger" %>
    <%= link_to '所持ポイント確認',points_path,class:"btn btn-warning" %>
    <%= link_to 'ログアウト',new_user_session_path,data:{confirm: '本当にログアウトしますか？'} %>

</div>