<div class="container">
    <div class="page-top mb-4">
        <h1 class="page-title">レッスン一覧</h1>
        <%= link_to "レッスン新規作成",new_management_lesson_path,class: "btn btn-success"%>
    </div>
    <h2>【検索条件入力欄】</h2>
    <div class="card-body">
        <%= search_form_for @q,url: management_lessons_path do |f| %>
            <p>レッスン名：<%= f.search_field :title_cont, placeholder: "レッスン名", class: "card-input" %></p>
            <p>実施日時：<%= f.search_field :started_at_gteq, placeholder: "実施日時", class: "card-input" %></p>
            <p>区分：<%= f.search_field :category_cont, placeholder: "区分", class: "card-input" %></p>
            <div class="page-top">
                <%= button_tag sanitize('<i class="fas fa-search"></i>検索'),:type => "submit",:class => "btn btn-primary"%>
            </div>
        <% end %>
    </div>

    <% @lessons.each do |lesson|%>
        <div class="lesson-one">
            <div class="row sampleRow">
                <p class="col-xs-4">レッスン名：<%= lesson.title %></p>
                <p class="col-xs-4">実施日時：<%= lesson.started_at.strftime("%Y/%m/%d %H:%M") %></p>
                <p class="col-xs-4">区分：<%= lesson.category %></p>
            </div>
            <div class="button-info">
                <%= link_to "【詳細】",management_lesson_path(lesson),class:"link-info" %>
                <%= link_to "【編集】",edit_management_lesson_path(lesson),class:"link-edit"%>
                <%= link_to "【削除】",management_lesson_path(lesson), method: "delete", data: { confirm: 'Are you sure?'},class:"link-delete" %>
            </div>
        </div>
    <% end %>
    <%= paginate @lessons %>
</div>

<style>
    .sampleRow{
        margin-left:10px;
    }

    .card-body{
        /*background-color:#DCDCDC;*/
    }
    
    .lesson-one{
        background-color:#DDDDDD;
        border:solid 2px #000000;
        margin-bottom:10px;
        padding:10px;        
        height:86px;
        position:relative;
    }

    .button-info{
        display:inline-block;
        display:flex;
        position:absolute;
        right:0;
        padding-right:2rem;
    }

    .sampleRow > p{
        margin-right:20px;
        margin-bottom:0px;
    }
    
    .col{
        margin:auto 0;
        display:flex;
    }
</style>