<div class="container">
    <div class="page-top">
        <h1><%= @lesson.title%><%= link_to "【編集】",edit_management_lesson_path,class:"link-edit ml-3" %></h1>
        <div class="btn">
            <%= link_to "一覧",management_lessons_path,class:"btn btn-secondary"%>
        </div>
    </div>
    <div class="content mb-5">
        <div class="show-image">
            <%= image_tag @lesson.image if @lesson.image.attached? %>
        </div>
        
        <div class="description">
            <h2>----レッスン概要-----</h2>
            <p>担当:<%= @lesson.instructor %></p>
            <p>実施日時：<%= @lesson.started_at.strftime("%Y/%m/%d %H:%M") %>〜</p>
            <p>ランク：<%= @lesson.level %></p>
            <p>区分：<%= @lesson.category %></p>
            <p>上限人数：<%= @lesson.limits %>人</p>
            <p>料金：<%= @lesson.price %></p>
            <p>概要：<%= @lesson.description %></p>
        </div>
    </div>
    <p>現在の予約数：　<%= @lesson.reservations.count %>人　/　<%= @lesson.limits%>人</p>
    <h2 class="mt-4">【レッスン予約者】</h2>
    <table class="table-striped mb-4">
        <thead>
            <th>名前</th>
            <th>生年月日</th>
            <th>性別</th>
        </thead>
        <tbody>
            <% @lesson.reservations.each do |res| %>
                <tr>
                    <td><%= res.user.name %></td>
                    <td><%= res.user&.birthday&.strftime("%Y/%m/%d")%></td>
                    <td><%= res.user.sex %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>