<h1>【運営】レッスン詳細</h1>


    <h2><%= @management_lessons.title %></h2>
    
    <p><%= @management_lessons.level %></p>
    <p><%= @management_lessons.category %></p>
    <p><%= @management_lessons.started_at %></p>
    <p><%= @management_lessons.description %></p>
    <p><%= @management_lessons.price %></p>
    <p><%= @management_lessons.instructor %></p>
    <p><%= @management_lessons.limits %></p>
    
