<div class="container">
    <div class="page-top mb-4">
        <h1>レッスン一覧</h1>
        <%= link_to 'マイページ',gym_apps_path,class:"btn btn-secondary"%>
    </div>
    <h2>【検索条件入力欄】</h2>
    <div class="card-body">
        <%= search_form_for @q,url: lessons_path do |f| %>
            <p>レッスン名：<%= f.search_field :title_cont, placeholder: "レッスン名", class: "card-input" %></p>
            <p>実施日時：<%= f.search_field :started_at_gteq, placeholder: "実施日時", class: "card-input" %></p>
            <p>区分：<%= f.search_field :category_cont, placeholder: "区分", class: "card-input" %></p>
            <div class="page-top">
                <%= button_tag sanitize('<i class="fas fa-search"></i>検索'),:type => "submit",:class => "btn btn-primary"%>
            </div>
        <% end %>
    </div>
    <% @lessons.each do |lesson|%>
        <div class="lesson-one">
            <div class="row sampleRow">
                <p class="col-xs-4">レッスン名：<%= lesson.title %></p>
                <p class="col-xs-4">実施日時：<%= lesson.started_at.strftime("%Y/%m/%d %H:%M") %></p>
                <p class="col-xs-4">区分：<%= lesson.category %></p>
            </div>
            <div class="button-info">
                <p><%= link_to "【レッスン詳細】",lesson_path(lesson),class:"link-info" %></p>
            </div>
        </div>
    <% end %>    
    <%= paginate @lessons %>
</div>

<style>
    .sampleRow{
        margin-left:10px;
    }

    .lesson-one{
        background-color:#DDDDDD;
        border:solid 2px #000000;
        margin-bottom:10px;
        padding:10px;        
        height:86px;
        position:relative;
    }
    
    .button-info{
        display:inline-block;
        display:flex;
        position:absolute;
        right:0;
    }

    .sampleRow > p{
        margin-right:20px;
        margin-bottom:0px;
    }
    
    .col{
        margin:auto 0;
        display:flex;
    }
</style>