<div class="container">
    <div class="page-top mb-4">
        <h1><%= @lesson.title%></h1>
        <%= link_to "戻る",lessons_path,class:"btn btn-secondary"%>        
        
    </div>

    <div class="content mb-5">
        <div class="show-image">
            <%= image_tag @lesson.image if @lesson.image.attached? %>
            <%= link_to "このレッスンを予約する", reservations_path(lesson_id: @lesson.id),method: :post ,data: { confirm: 'Are you sure?'},class:"btn-reservation",id:"rev" %>  
        </div>

        <div class="description">
            <h2>----レッスン概要-----</h2>
            <p>担当:<%= @lesson.instructor %></p>
            <p>実施日時：<%= @lesson.started_at.strftime("%Y/%m/%d %H:%M") %>〜</p>
            <p>ランク：<%= @lesson.level %></p>
            <p>区分：<%= @lesson.category %></p>
            <p>上限人数：<%= @lesson.limits %>人</p>
            <p>料金：<%= @lesson.price %></p>
            <p>概要：<%= @lesson.description %></p>
            
        </div>
    </div>
</div>

<style>
    .content{
        display:flex;
    }
    
    h1{
        font-family:'Impact';
    }
    
    .btn-reservation.rev-active{
        background-color:gray;
        color:#fff;
    }
</style>

<script>
    const RevElement = document.getElementById('rev')
    
    RevElement.addEventListener('click',function(){
        RevElement.classList.add('rev-active');
    });
</script>

