<div class="container">
  <div class="page-top mb-4">
    <h1>商品一覧</h1>
      <%= link_to 'マイページ',gym_apps_path,class:"btn btn-secondary"%>
  </div>
    <h2 class= res-h>【検索条件入力欄】</h2>
     <div class="card-body">
      <%= search_form_for @q,url: items_path do |f| %>
          <p>商品名：<%= f.search_field :name_cont, placeholder: "name", class: "card-input" %></p>
          <p>値段（税抜）：<%= f.search_field :price_lt, placeholder: "maximum amount", class: "card-input" %></p>
          <div class="page-top">
            <%= button_tag sanitize('<i class="fas fa-search"></i>検索'),:type => "submit",:class => "btn btn-primary"%>
          </div>
      <% end %>
    </div>  
     <table class="table-striped">
        <thead>
          <tr>
            <th>商品名</th>
            <th>値段(税抜)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td>￥<%= item.price.to_s(:delimited,delimiter:',') %>円</td>
              <td><%= link_to '【商品詳細】', item_path(item),class:"link-info"%>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @items%>
</div>
